# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# pytype
.pytype/

# Pyre type checker
.pyre/

# pyinstrument
profile_results.json

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
